table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #3366FF;
}

th, td {
    padding: 10px;
}

th {
    background-color: #3366FF;
    color: white;
}

tbody tr:nth-child(odd) {
   background-color: #B0E0E6;
}