<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../assets/styles.css" />
<title>{{courseWithTrainingRecords.course.name}}</title>
</head>
<body>
<h1>{{courseWithTrainingRecords.course.name}}</h1>

<h2>Course Details</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>{{courseWithTrainingRecords.course.name}}</td>
        {{#courseWithTrainingRecords.course.hasDescription}}
        <td>{{courseWithTrainingRecords.course.description}}</td>
        {{/courseWithTrainingRecords.course.hasDescription}}
        {{#courseWithTrainingRecords.course.hasNoDescription}}
        <td></td>
        {{/courseWithTrainingRecords.course.hasNoDescription}}
    </tr>
</table>
<p><a href="{{courseWithTrainingRecords.course.courseRef}}/edit">Edit {{courseWithTrainingRecords.course.name}}...</a> | <a href="{{courseWithTrainingRecords.course.courseRef}}/delete">Delete {{courseWithTrainingRecords.course.name}}</a></p>
<p><a href="../course">Back to course list</a></p>

<h2>People holding this training</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Gained</th>
        <th>Expires</th>
    </tr>
    {{#courseWithTrainingRecords.courseTrainingRecords}}
    <tr>
        <td><a href="/person/{{personRef}}">{{personName}}</a></td>
        <td>{{gainedHumanReadable}}</td>
        <td>{{expiresHumanReadable}}</td>
    </tr>
    {{/courseWithTrainingRecords.courseTrainingRecords}}
</table>

</body>
</html>