<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../assets/styles.css" />
<title>All Courses</title>
</head>
<body>
<h1>All Courses</h1>

<table>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
{{#courses}}
<tr>
    <td><a href="course/{{courseRef}}">{{name}}</a></td>
    {{#hasDescription}}
    <td>{{description}}</td>
    {{/hasDescription}}
    {{#hasNoDescription}}
    <td></td>
    {{/hasNoDescription}}
</tr>
{{/courses}}
</table>
<p><a href="course/add">Add new course...</a></p>
<p><a href="/person">View by person</a></p>
</body>
</html>