<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../../assets/styles.css" />
<title>{{course.name}}</title>
</head>
<body>
<h1>{{course.name}}</h1>

<form action="update" method="post">
<h2>Course Details</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><input type="text" name="name" value="{{course.name}}" /></td>
        {{#course.hasDescription}}
        <td><input type="text" name="description" value="{{course.description}}" /></td>
        {{/course.hasDescription}}
        {{#course.hasNoDescription}}
        <td><input type="text" name="description" /></td>
        {{/course.hasNoDescription}}
    </tr>
</table>
<p><input type="submit" name="Save" value="Save" /> <a href="/course/{{course.courseRef}}">Cancel</a></p>
</form>

</body>
</html>