<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../assets/styles.css" />
<title>{{personWithTrainingRecords.person.name}}</title>
</head>
<body>
<h1>{{personWithTrainingRecords.person.name}}</h1>

<h2>Personal Details</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Email</th>
        <th>Mobile</th>
    </tr>
    <tr>
        <td>{{personWithTrainingRecords.person.name}}</td>
        <td>{{personWithTrainingRecords.person.dateOfBirthHumanReadable}}</td>
        <td>{{personWithTrainingRecords.person.email}}</td>
        <td>{{personWithTrainingRecords.person.mobile}}</td>
    </tr>
</table>
<p><a href="{{personWithTrainingRecords.person.personRef}}/edit">Edit {{personWithTrainingRecords.person.name}}...</a> | <a href="{{personWithTrainingRecords.person.personRef}}/delete">Delete {{personWithTrainingRecords.person.name}}</p>
<p><a href="../person">Back to people list</a></p>

<h2>Training Record</h2>
<table>
    <tr>
        <th>Course</th>
        <th>Gained</th>
        <th>Expires</th>
    </tr>
    {{#personWithTrainingRecords.personTrainingRecords}}
    <tr>
        <td><a href="/course/{{courseRef}}">{{courseTitle}}</a></td>
        <td>{{gainedHumanReadable}}</td>
        <td>{{expiresHumanReadable}}</td>
    </tr>
    {{/personWithTrainingRecords.personTrainingRecords}}
</table>
<p><a href="{{personWithTrainingRecords.person.personRef}}/editTrainingRecord">Edit training record...</a></p>
</body>
</html>