<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../../assets/styles.css" />
<title>Edit training for {{person.name}}</title>
</head>
<body>
<h1>Edit training for {{person.name}}</h1>

<h2>Training</h2>
<form action="updateTrainingRecord" method="post">
<table>
    <tr>
        <th>Course</th>
        <th>Gained (dd-MM-yyyy)</th>
        <th>Expires (dd-MM-yyyy)</th>
    </tr>
    {{#allCoursesPersonTrainingRecords}}
    <tr>
        <td>{{courseTitle}}</td>
        <td><input type="text" name="{{courseTitle}}-gained" value="{{gainedHumanReadable}}" /></td>
        <td><input type="text" name="{{courseTitle}}-expires" value="{{expiresHumanReadable}}" /></td>
    </tr>
    {{/allCoursesPersonTrainingRecords}}
</table>
<p><input type="submit" name="Save" value="Save" /> </p>
</form>
<p><a href="/person/{{person.personRef}}">Return to person overview</a> (any unsaved changes above will be lost)</p>

</body>
</html>