<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../../assets/styles.css" />
<title>{{person.name}}</title>
</head>
<body>
<h1>{{person.name}}</h1>

<form action="update" method="post">
<h2>Personal Details</h2>
<table>
<tr>
<th>Name</th>
<th>Date of Birth (dd-MM-yyyy)</th>
<th>Email</th>
<th>Mobile</th>
</tr>
<tr>
<td><input type="text" name="name" value="{{person.name}}" /></td>
<td><input type="text" name="dateOfBirth" value="{{person.dateOfBirthHumanReadable}}" /></td>
<td><input type="text" name="email" value="{{person.email}}" /></td>
<td><input type="text" name="mobile" value="{{person.mobile}}" /></td>
</tr>
</table>
<p><input type="submit" name="Save" value="Save" /> <a href="/person/{{person.personRef}}">Cancel</a></p>
</form>

</body>
</html>