<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../assets/styles.css" />
<title>All People</title>
</head>
<body>
<h1>All People</h1>

<table>
<tr>
<th>Name</th>
<th>Date of Birth</th>
<th>Email</th>
<th>Mobile</th>
</tr>
{{#persons}}
<tr>
    <td><a href="person/{{personRef}}">{{name}}</a></td>
    <td>{{dateOfBirthHumanReadable}}</td>
    <td>{{email}}</td>
    <td>{{mobile}}</td>
</tr>
{{/persons}}
</table>
<p><a href="person/add">Add new person...</a></p>
<p><a href="/course">View by course</a></p>
</body>
</html>